.body {
  background-color: #f0f0f0;
}

#Main-title {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  background-color: #333;
}

.table {
  margin-top: 10px;
}

.box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px; /* Add padding to the right */
}

#All_st {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: red;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 700;
}

.box_1 .btn {
  margin-left: auto;
  margin-top: 20px;
  font-weight: 400;
}

h6.message {
  color: red;
  text-align: center;
}

h6.insert_msg {
  color: green;
  text-align: center;
}

.form-group_1 {
  margin: 10px 20px;
}

.form-group_1 label {
  margin-top: 25px;
  font-weight: bold;
}

.form-group_1 input {
  transition: transform 0.3s, box-shadow 0.3s;
}

.form-group_1 input:hover {
  transform: translateY(-5px); /* Makes the box pop up */
  box-shadow: 0 2px 20px rgb(69, 70, 70); /* Updated box shadow on hover */
  border: 1px solid #333; /* Blue outline on hover */
}

.form-group_1 input ::placeholder {
  color: tomato;
}
